<html>
<head>
  <link rel="stylesheet" type="navbar/css">
</head>
<body>
<div class="topnav">
  <%= link_to 'Home', root_path , class:"active" %>
  <%= link_to 'AlphaBlog', articles_path %>
</div>
</body>
</html>